<div class="snap-drawer snap-drawer-left" id="left-drawer">
    <ul class="list">
        <li class="list-divider">You</li>
        <li><a ng-click="snapper.close()" href="#/profile"><img src="http://lorempixel.com/50/50" class="avatar"> jakiestfu</a></li>
        <li class="list-divider">Templates</li>
        <li><a ng-click="snapper.close()" href="#/explore">Explore</a></li>
        <li><a ng-click="snapper.close()" href="#/feed">Feed</a></li>
        <li><a ng-click="snapper.close()" href="#/settings">Settings</a></li>
        <li class="list-divider">Filler List</li>
        <li>List item 1 <span class="chevron"></span></li>
        <li>List item 2 <span class="chevron"></span></li>
        <li>List item 3 <span class="chevron"></span></li>
        <li>List item 4 <span class="chevron"></span></li>
        <li>List item 5 <span class="chevron"></span></li>
        <li>List item 6 <span class="chevron"></span></li>
        <li>List item 7 <span class="chevron"></span></li>
        <li>List item 8 <span class="chevron"></span></li>
        <li>List item 9 <span class="chevron"></span></li>
        <li>List item 10 <span class="chevron"></span></li>
    </ul>
</div>
<div class="snap-drawer snap-drawer-right" id="right-drawer" ng-controller="RightDrawerCtrl">
    <ul class="list">
        <li ng-repeat="friend in friends">
            <a ng-click="snapper.close()" ng-href="#/friends/{{ friend.id }}"><img ng-src="http://lorempixel.com/50/50/people/{{ friend.id % 10 }}" class="avatar"> {{ friend.name }}</a> <span class="chevron"></span>
        </li>
    </ul>
</div>
