

	
		<!-- Make sure all your bars are the first things in your <body> -->
		<header class="bar-title">
			<button class="button" id="toggle-left">Menu</button>
			<h1 class="title">Friend #{{ friend.id }}</h1>
			<button class="button" id="toggle-right">Chat</button>
		</header>
		 
		
		<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
		<div class="content">
			

			<ul class="list main-list">
				<li>
					<a href="#">
						<strong>See friend pictures</strong>
						<span class="chevron"></span>
					</a>
				</li>
				<li>
					<a href="#">
						<strong>See friend songs</strong>
						<span class="chevron"></span>
					</a>
				</li>
			</ul>
	
			<div class="media-grid">
				<div class="row">
					<div class="one-third">
						<a href="#"><img src="static/img/placeholders/95.gif"></a>
					</div>
					<div class="one-third">
						<a href="#"><img src="static/img/placeholders/95.gif"></a>
					</div>
					<div class="one-third">
						<a href="#"><img src="static/img/placeholders/95.gif"></a>
					</div>
				</div>
				<div class="row">
					<div class="one-third">
						<a href="#"><img src="static/img/placeholders/95.gif"></a>
					</div>
					<div class="one-third">
						<a href="#"><img src="static/img/placeholders/95.gif"></a>
					</div>
					<div class="one-third">
						<a href="#"><img src="static/img/placeholders/95.gif"></a>
					</div>
				</div>
			</div>
	
			<div class="separator">What's up</div>
			
		 
			
		</div>
